body { 
	margin:0; padding:0; 
	background-color: #C6E5D9;
}

.map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}

#map-container {
	position: relative;
	top: 0;
	height: 600px;
}

#over-map-box {
	position: absolute;
	color: #E94E77;
	top: 50px;
	left: 50px;
	font-size: 18px;
	font-family: sans-serif;
}


#fare-search-button {
	text-align: center;
	align: center;
}

.ui-menu {
	background-color: #F4EAD5;
}


#flash-message {
	background-color: #C6E5D9;
	font-size: 16;
	font-style: bold;
}