body { 
	margin:0; padding:0; 
}

.map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}

#map-container {
	position: relative;
	top: 0;
	height: 600px;
}

#over-map-box {
	position: absolute;
	background-color: #fff;
	top: 50px;
	left: 50px;
	font-size: 16px;
	font-family: sans-serif;
	border: 2px white solid;
	border-radius: 10px;
}


.lowestfarecontent {
}

#fare-search-button {
	text-align: center;
	align: center;
}

.ui-menu {
	background-color: #F7FBFF;
}


#flash-message {
	background-color: #f7fbff;
	font-size: 16;
	font-style: bold;
}