body { 
	margin:0; padding:0; 
}

.map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}

#map-container {
	position: relative;
	top: 0;
	height: 600px;
}


.lowestfarecontent {
}

#fare-search-button {
	text-align: center;
	align: center;
}

.ui-menu {
	background-color: #F7FBFF;
}