<!DOCTYPE html>
<html>
	<head>
		<title>Let's explore!</title>

<!-- LINK ALL THE THINGS!!! -->
	<link rel="stylesheet" href="/static/style.css"></script>

	<!-- LINK TO JQUERY FILE -->
		<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

	<!-- LINK TO JQUERY UI FOR AUTOCOMPLETE -->
		<link rel="stylesheet" href="../static/js/jquery-ui.min.css">
		<script src="../static/js/external/jquery/jquery.js"></script>
		<script src="../static/js/jquery-ui.min.js"></script>


	<!-- LINK TO MAPBOX -->
		<meta charset=utf-8 />
		<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.css' rel='stylesheet' />
		<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
  		<link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
  		<link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

	<!-- LINK TO GOOGLE CHARTS -->
		<script type="text/javascript"
	          src="https://www.google.com/jsapi?autoload={
	            'modules':[{
	              'name':'visualization',
	              'version':'1',
	              'packages':['corechart']
	            }]
	          }">
	    </script>

	</head>

	<body>

	<div class="container-fluid">



	<!-- THIS IS THE MAIN USER FORM -->	  
		<div class="user-travel-form">
			<form id="faresearchform">
			  <label>Enter Origin Airport: </label>
			  	<input id="airportcodes" name="origin" placeholder="Origin Airport">
			<br>
			  <label>Earliest Departure Date:</label>
			  	<input type="date" name="earliest-departure-date" id="early-depart-field">
			<br>
			  <label>Latest Departure Date:</label>
			  	<input type="date" name="latest-departure-date" id="late-depart-field">
			<br>
			  <label>Length of Travel (in days):</label>
			  	<input type="text" name="length-of-stay" id="length-of-stay-field" placeholder="3">
			<br>
			  <label>Max Budget ($):</label>
			  	<input type="text" name="max-budget" id="max-budget-field" placeholder="200">
			<br>
			 	<input type="submit" value="Let's Go!">
			</form>
		</div>
	</div>

<br>
	<!-- THIS IS WHERE FLASH MESSAGES GO -->	
		<div id="flash-message">
		</div>
<br>
	<!-- TESTING MAP STUFF -->
	<div id='map-container'>
		<div id='map-leaflet' class='map'></div>
		<div id='over-map-box'></div>
	</div>


	<div id="curve_chart">
	</div>


		  <!-- THIS IS LINKING SUSAN'S JS FILE -->
		<script src="../static/travel.js"></script>
	</body>

</html>