<!DOCTYPE html>
<html>
	<head>
		<title>Let's explore!</title>

<!-- LINK ALL THE THINGS!!! -->
	<link rel="stylesheet" href="/static/style.css"></script>

	<!-- LINK TO JQUERY UI FOR AUTOCOMPLETE -->
		<link rel="stylesheet" href="../static/js/jquery-ui.min.css">
		<script src="../static/js/external/jquery/jquery.js"></script>
		<script src="../static/js/jquery-ui.min.js"></script>

	<!-- LINK TO JS FILE BY SUSAN -->
		<script src="../static/travel.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

	<!-- LINK TO MAPBOX -->
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.css' rel='stylesheet' />

	</head>

	<body>

	<!-- THIS IS WHERE FLASH MESSAGES GO -->	  
		<ul>
		    {% for message in get_flashed_messages() %}
		        <li>{{ message }}</li>
		    {% endfor %}
		</ul>


	<!-- THIS IS THE MAIN USER FORM -->	  
		<div class="user-form">
		<form action="/airfaresearch" id="faresearchform">
		  <label>Enter Origin Airport: </label>
		  	<input id="airportcodes" name="origin">
		<br>
		  <label>Earliest Departure Date:</lable>
		  	<input type="date" name="earliest-departure-date">
		<br>
		  <label>Latest Departure Date:</lable>
		  	<input type="date" name="latest-departure-date">
		<br>
		  <label>Length of Stay:</lable>
		  	<input type="text" name="length-of-stay">
		<br>
		  <label>Max Budget:</lable>
		  	<input type="text" name="max-budget">
		<br>
		  <input id="faresearch" type="submit" value="Let's Go!">
		</form>
		</div>

<br>
<br>
	<p id="faredetails"></p>
<br>

	<!-- TESTING MAP STUFF -->
	<div id='map'></div>





<!-- MUST MOVE THIS AUTOCOMPLETE FUNCTION TO JS FILE LATER -->
		<script>

		  $(function() {
		    $("#airportcodes").autocomplete({
		      source: 	function(request, response) {
		      				$.ajax({
					      		url: "/autocomplete",
					      		dataType: "json",
					      		data: {
					      			term: request.term
					      		}})
				      		.done(function(data) {
				      			//Map data to correct format
				      			response (data);
				      			}
				      			//return response(/*CORRECT*/);
				      		)};
		      				//return response([{label: 'Dog', value: 'Cat'}]);
				})
			});


		  </script>

 
	</body>

</html>