<!DOCTYPE html>
<html>
	<head>
		<title>Your BFF</title>

<!-- LINK ALL THE THINGS!!! -->

	<!-- LINK TO JQUERY FILE -->
		<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

	<!-- LINK TO JQUERY UI FOR AUTOCOMPLETE -->
		<link rel="stylesheet" href="../static/js/jquery-ui.min.css">
		<script src="../static/js/external/jquery/jquery.js"></script>
		<script src="../static/js/jquery-ui.min.js"></script>

	<!-- BOOTSTRAP -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

	<!-- LINK TO MAPBOX -->
		<meta charset=utf-8 />
		<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.css' rel='stylesheet' />
		<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
  		<link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
  		<link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

	<!-- LINK TO GOOGLE CHARTS -->
		<script type="text/javascript"
	          src="https://www.google.com/jsapi?autoload={
	            'modules':[{
	              'name':'visualization',
	              'version':'1',
	              'packages':['corechart']
	            }]
	          }">
	    </script>

	<link rel="stylesheet" href="/static/style.css"></script>

	</head>

	<body>
	<a id="backtotop"></a>

	<div class="section">


			<!-- THIS IS THE NAV BAR  -->
			<nav class="navbar navbar-default navbar-fixed-top">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#"><span class="title-character">B</span>udget <span class="title-character">F</span>light <span class="title-character">F</span>inder</a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li><a href="#"></a></li>
			      </ul>
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#" data-toggle="modal" data-target="#about-app">About</a></li>
			        <li><a href="#backtotop">Back To Top</a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav> <!-- END OF NAVBAR -->

		<br>
		<br>

		<div class="container-fluid">

		<!-- THIS IS THE MAIN USER FORM -->	 
			<div class="row">
				<div class="col-sm-4">
					<div class="row">
						<div class="col-xs-12" position="absolute"><img class="img-responsive" src="static/img/sea-sky-beach-holiday.jpg" alt="Road Trip"></div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-12"><img class="img-responsive" src="static/img/beach.jpg" alt="Beach"></div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4" id="user-travel-form">
					<form id="faresearchform">

							<div class="row"><div class="form-group">
							  	<label for="airportcodes">Enter Origin Airport: </label>
							  	<input id="airportcodes" name="origin" placeholder="Origin Airport" tabindex="1">
							</div></div>

							<div class="row"><div class="form-group">
							  	<label for="early-depart">Earliest Departure Date:</label>
							  	<input type="text" name="earliest-departure-date" id="early-depart" tabindex="2" placeholder="Earliest Departure Date" onfocus="(this.type='date')">
							</div></div>

							<div class="row"><div class="form-group">
							  	<label for="late-depart">Latest Departure Date:</label>
							  	<input type="text" name="latest-departure-date" id="late-depart" tabindex="3" placeholder="Latest Departure Date" onfocus="(this.type='date')">
							</div></div>

							<div class="row"><div class="form-group">
							  	<label for="length-of-stay">Length of Travel (in days):</label>
							  	<input type="text" name="length-of-stay" id="length-of-stay" placeholder="Length of Travel (in days)" tabindex="4">
							</div></div>

							<div class="row"><div class="form-group">
							  	<label for="max-budget">Max Budget ($):</label>
							  	<input type="text" name="max-budget" id="max-budget" placeholder="Max Budget" tabindex="5">
							</div></div>

							<br>
					 	<input type="submit" id="form-submit" value="Adventure Awaits!">
					</form>
				</div>

				<div class="col-sm-4">
					<div class="row">
						<div class="col-xs-12"><img class="img-responsive" src="static/img/sky-people-whitespace-freedom.jpg" alt="Hot Air Balloon"></div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-12"><img class="img-responsive" src="static/img/croatia.jpg" alt="Plitvice, Croatia"></div>
					</div>
				</div>
			</div>
		</div>

	<!-- THIS IS WHERE FLASH MESSAGES GO -->
		<a id="linktomap"></a>	

<br>
<br>
<br>
<br>
<br>

		<div id="flash-message" visibility='hidden'>
		</div>
<br>
	<!-- MAP STUFF -->
	<div id='map-container'>
		<div id='map-leaflet' class='map'></div>
		<div id='over-map-box'></div>
	</div>


<!-- 	<div id="curve-chart">
	</div> -->

	</div>

<div class="modal fade" id="curve-chart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Fare Calendar</h4>
      </div>

      <div class="modal-body" id="modal-chart">

      </div>

      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>




<!-- ABOUT SECTION (MODAL WINDOW) -->
<div class="modal fade" id="about-app" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About This Webapp</h4>
      </div>

      <div class="modal-body">
        <p>Credits to <a href="https://developer.sabre.com">Sabre</a> & <a href="http://www.cometari.com">Cometari</a> for providing flight information, <a href="http://www.uscampgrounds.info">USCampgrounds</a> for the campsite data, Mapbox for the beautiful map UI, and Google for knowing all the answers to my questions.
      </div>

      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


	<!-- BOOTSTRAP -->
		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<!-- THIS IS LINKING SUSAN'S JS FILE -->
		<script src="../static/travel.js"></script>
	</body>

</html>